<hr class="dark" />
 <div class="text-center">
    <a href="https://twitter.com/beckshome"><i class="fab fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/thomas-beck-deloitte/"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/Thomas.Beck.US"><i class="fab fa-facebook" aria-hidden="true"></i></a>
    <a href="https://www.flickr.com/photos/barbarossa/"><i class="fab fa-flickr" aria-hidden="true"></i></a>
    <a href="https://github.com/thbst16"><i class="fab fa-github" aria-hidden="true"></i></a>
    <a href="https://hub.docker.com/u/thbst16"><i class="fab fa-docker" aria-hidden="true"></i></a>
    <a href="https://www.credly.com/users/thomas-beck-deloitte/badges"><i class="fas fa-award" aria-hidden="true"></i></a>
</div>